#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.cover_image {
	width: 150px;
	height: 200px;
	object-fit: cover;
  }

  .popup{
	animation: fadein 0.3s, fadeout 0.3s 2.7s;
	transition: opacity 0.3s ease-in-out;
	z-index: 1050;
}

@keyframes fadein {
	from { opacity: 0; transform: translateY(20px); }
	to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeout {
	from { opacity: 1; }
	to { opacity: 0; }
}
